@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap');

:root {
    --blue: #1B59F8;
    --gray: #323f4a;
    --yellow: #ffdf00;
    --secondary: #a0b3c6;
}

* {
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;

}

main {
    padding: 3rem 1rem 1rem 1rem;
    display: grid;
    gap: 1rem;
}

body {
    background-color: #0F1117;
    color: white;
}

input {
    padding: 0.75rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 2px gray;
    border: none;
}

a.button {
    padding: 0.6rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--color, var(--gray));
    color: white;
    border: none;
    border-radius: 1rem;
    font-weight: 600;
    transition: 0.2s ease;
    justify-content: center;
    text-decoration: none;
}