---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Libros">
	<h1>Si tienes algun error me avisas xdxd</h1>
	<p>
		Algunas cosas no tienen una animacion de loading, solo tienes que
		esperar.
	</p>
	<p>No dije nada, solo me gustaba ver tu enojo :P</p>
	<img
		src="https://firebasestorage.googleapis.com/v0/b/glass-a6c85.appspot.com/o/contracts%2F313415639_1464293217397397_5137739424008234074_n.jpg?alt=media&token=58b6ef7c-35f8-4a4d-8e79-becde1e9a6d6"
		alt=""
	/>
</Layout>

<style>
	img {
		width: 500px;
	}
</style>
